# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.pytest_cache/

# --- Environment ---
.env

# --- IDE ---
.idea/
*.iml
.vscode/

# --- OS ---
.DS_Store
Thumbs.db

# --- Database ---
assert/*.db
assert/*.sqlite

# --- Project specific ---
docs/
