agents==1.4.0
fastapi==0.122.0
fastmcp==2.13.1
Jinja2==3.1.6
numpy<2.0.0
openai==2.8.1
pandas==2.3.3
plotly==6.3.0
pydantic==2.12.4
Requests==2.32.5
SQLAlchemy==2.0.44
streamlit==1.50.0
uvicorn==0.38.0
